  <div class="span4">
    <h3>Student Design Challenge</h3>
    <div class="row">
      <div class="span2">    
        <a href="/studentdesign/"><img src="/assets/img/features/studentdesignchallenge.png" alt="Student Design Challenge" /></a>
      </div>
      <div class="span2">
        <p>With every passing year, technology becomes further embedded into every aspect of our lives. With its increasing ubiquity, our traditional relationship, where technology is a tool for completing tasks and accomplishing goals, is receding. Now, people (especially young people) look at technology as a way to connect, and even interact with in a less-structured and playful manner.</p>
        <a class="callToAction" href="/studentdesign/">See More</a>
      </div>
    </div>
  </div>

  <div class="span4">
    <h3>2013 Interaction Awards</h3>
    <div class="row">
      <div class="span2">
        <a href="http://awards.ixda.org"><img src="/assets/img/features/interactiondesignawards.png" alt="2013 Interaction Awards"  /></a>
      </div>
      <div class="span2">
        <p>Building on last year's success, we're excited to continue inspiring the global interaction design community to share, discuss, and celebrate excellence in our field.</p>
        <a href="http://awards.ixda.org">See More</a>
      </div>
    </div>
  </div>

  <div class="span4">
    <h3>OCAD Digital Futures Initiative</h3>
    <div class="row">
      <div class="span2">
        <a href="http://www.ocadu.ca/programs/graduate_studies/digital_futures.htm" target="_blank"><img src="/assets/img/features/digitalfuturesinitiative.png" alt="OCAD Digital Futures Initiative"  /></a>
      </div>
      <div class="span2">
        <p>We would like to recognize OCAD U as our Academic Partner for Interaction13. Digital Futures Initiative(DFI) is a breakthrough partnership opening the door to greater innovation, collaboration and research at OCAD U and beyond, unleashing a wave of talent whose imaginings will revolutionize...</p>
        <a class="callToAction" href="http://www.ocadu.ca/programs/graduate_studies/digital_futures.htm" target="_blank">See More</a>
      </div>
    </div>
  </div>