  <div class="span4">
    <h3>Toronto &#8211; Canada’s #1 City</h3>
    <div class="row">
      <div class="span2">
        <a href="http://www.mytorontomeeting.com/Visitor/Experience/home.aspx" target="_blank"><img src="/assets/img/features/torontocity.png" alt="Toronto"  /></a>
      </div>
      <div class="span2">
        <p>Discover Toronto! A city full of vibrant nightlife, stunning architecture, great museums, galleries, theaters and more.</p>
        <a href="http://www.mytorontomeeting.com/Visitor/Experience/home.aspx" target="_blank">See More</a>
      </div>
    </div>
  </div>
  <div class="span4">
    <h3>Restaurants &amp; Bars</h3>
    <div class="row">
      <div class="span2">
        <a href="http://www.mytorontomeeting.com/Visitor/Experience/Dining.aspx" target="_blank"><img src="/assets/img/features/restaurants.png" alt="Restaurants &amp; Bars"  /></a>
      </div>
      <div class="span2">
        <p>Toronto’s neighborhoods consist of over 7,000 restaurants with a variety of food ranging from gourmet to home-cooked comfort foods from nearly everywhere in the world.</p>
        <a href="http://www.mytorontomeeting.com/Visitor/Experience/Dining.aspx" target="_blank">See More</a>
      </div>
    </div>
  </div>
  
  <div class="span4">
    <h3>Recommended Neighborhoods</h3>
    <div class="row">
      <div class="span2">
        <a href="http://www.mytorontomeeting.com/Visitor/Explore.aspx" target="_blank"><img src="/assets/img/features/neighbourhoods.png" alt="Recommended Neighbourhoods"  /></a>
      </div>
      <div class="span2">
        <p>Toronto's neighborhoods offer an eclectic mix of architecture, food and shopping. This vast cultural diversity creates a worldly experience for visitors.</p>
        <a href="http://www.mytorontomeeting.com/Visitor/Explore.aspx" target="_blank">See More</a>
      </div>
    </div>
  </div>