  <div id="planningCommittee" class="container">
    <div id="planningCommitteeBlurb">
      <h2>IxD13 Planning Committee</h2>
      <p>Introducing the Interaction13 planning committee! The past 18 months have brought together this team of design leaders who volunteered their time and energy to plan Interaction13. In addition to full time employment (the jobs that pay the bills), the Interaction13 Planning Committee Leads took on the task to lead committees, each focusing on different aspects of planning IxD13. Lots of time, energy and passion has gone into planning this event for our global IxDA community.</p>
      <div class="planningCommitteeFlair"></div>
    </div>
    <div id="planningCommitteeProfiles">
      <div class="span1">
        <img src="/assets/img/committee/benfullerton.jpg" alt="Ben Fullerton" />
        <p>Ben Fullerton</p>
        <p>AV/Tech Committee</p>
        <p>San Francisco, CA</p>
      </div>
      <div class="span1">
        <img src="/assets/img/committee/JoiLRoberts.jpg" alt="Joi Roberts" />
        <p>Joi Roberts</p>
        <p>Volunteer Committee</p>
        <p>Chicago, IL</p>
      </div>
      <div class="span1">
        <img src="/assets/img/committee/brianpeppler.jpg" alt="Brian Peppler" />
        <p>Brian Peppler</p>
        <p>Entertainment Committee</p>
        <p>Austin, TX</p>
      </div>
      <div class="span1">
        <img src="/assets/img/committee/ciarataylor.jpg" alt="Ciara Taylor" />
        <p>Ciara Taylor</p>
        <p>Communications Committee</p>
        <p>Chicago, IL</p>
      </div>
      <div class="span1">
        <img src="/assets/img/committee/mfs.jpg" alt="Mark FelcanSmith" />
        <p>Mark FelcanSmith</p>
        <p>Program Committee</p>
        <p>Chicago, IL</p>
      </div>
      <div class="span1">
        <img src="/assets/img/committee/Todaro.jpg" alt="Alex Todaro" />
        <p>Alex Todaro</p>
        <p>Branding Committee</p>
        <p>New York, NY</p>
      </div>
    </div>
    <div id="planningCommitteeFooter" class="span8"></div>
  </div>