
  <article id="Idea Markets" data-event-id="IM_ALL" data-session-type="Idea Market" data-session-length="480" class="session-list multi-session-Idea Market Idea Market-list">
    <header>
      <hgroup data-event-id="IM_ALL">
        <h1 class="session-title">Interaction13 Idea Markets</h1>
      </hgroup>
      <div class="details">
        <time datetime="2013-01-28T09:00:00">All day, every day, starting Monday, 9:00AM &#8211; 5:00PM</time>
        <span class="location">MTCC</span>
      </div>
    </header>
    
    <div class="description">    </div>
    <ul>

  <li>
    <h2 class="session-title" data-event-id="IM1" data-c-actions="showSession">Freedom and Constraints: Setting up an IxD School in Costa Rica</h2>
    <cite>Idea Market with <a href="/speakers/#ana-domb" title="Ana Domb" data-c-actions="showSpeaker" data-speaker-id="Ana-Domb">Ana Domb</a></cite>
    <span class="theme"><span class="theme">Education/Community</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="IM2" data-c-actions="showSession">Counting is for More than Calories</h2>
    <cite>Idea Market with <a href="/speakers/#tonia-bartz" title="Tonia Bartz" data-c-actions="showSpeaker" data-speaker-id="Tonia-Bartz">Tonia Bartz</a></cite>
    <span class="theme"><span class="theme">Healthcare/Wellness</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="IM3" data-c-actions="showSession">Practical Apprenticeship: A Model for Bridging Education and Employment</h2>
    <cite>Idea Market with <a href="/speakers/#fred-beecher" title="Fred Beecher" data-c-actions="showSpeaker" data-speaker-id="Fred-Beecher">Fred Beecher</a></cite>
    <span class="theme"><span class="theme">Education/Community</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="IM4" data-c-actions="showSession">The digital collaboration design studio</h2>
    <cite>Idea Market with <a href="/speakers/#dave-malouf" title="Dave Malouf" data-c-actions="showSpeaker" data-speaker-id="Dave-Malouf">Dave Malouf</a> &amp; <a href="/speakers/#Brooks-Easterling" title="Brooks Easterling"  data-c-actions="showSpeaker" data-speaker-id="Brooks-Easterling">Brooks Easterling</a></cite>
    <span class="theme"><span class="theme">Process</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="IM5" data-c-actions="showSession">Seed Diary: Connecting Family Members through Urban Gardening</h2>
    <cite>Idea Market with <a href="/speakers/#li-he" title="Li He" data-c-actions="showSpeaker" data-speaker-id="Li-He">Li He</a> &amp; <a href="/speakers/#Jo-Lam" title="Jo Lam"  data-c-actions="showSpeaker" data-speaker-id="Jo-Lam">Jo Lam</a></cite>
    <span class="theme"><span class="theme">Education/Community</span></span>
  </li>
</ul>
  </article>
