
<section class="session-list idea-market-list" id="idea-market-list" data-session-type="idea-market">
  <header>
    <h2>Idea Markets</h2>
  </header>

  <article id="session-IM1" data-event-id="IM1" data-title="Freedom and Constraints: Setting up an IxD School in Costa Rica" data-session-type="idea-market" data-theme="education-community" data-day="Monday" data-gender="f" data-room="MTCC" data-session-length="480" class="idea-market monday gender-f session education-community">
    <header>
      <hgroup data-event-id="IM1" data-c-actions="showSession">
        <h1 class="session-title">Freedom and Constraints:</h1>
       <h3>Setting up an IxD School in Costa Rica</h3>
      </hgroup>
      
      <cite>Idea Market with <a href="/speakers/#ana-domb" title="Ana Domb" data-c-actions="showSpeaker" data-speaker-id="Ana-Domb">Ana Domb</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-28T09:00:00">All day, every day, starting Monday, 9:00AM &#8211; 5:00PM</time>
      <span class="location">MTCC</span><span class="theme">Education/Community</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-IM2" data-event-id="IM2" data-title="Counting is for More than Calories" data-session-type="idea-market" data-theme="healthcare-wellness" data-day="Monday" data-gender="f" data-room="MTCC" data-session-length="480" class="idea-market monday healthcare-wellness gender-f session">
    <header>
      <hgroup data-event-id="IM2" data-c-actions="showSession">
        <h1 class="session-title">Counting is for More Than Calories</h1>
      </hgroup>
      
      <cite>Idea Market with <a href="/speakers/#tonia-bartz" title="Tonia Bartz" data-c-actions="showSpeaker" data-speaker-id="Tonia-Bartz">Tonia Bartz</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-28T09:00:00">All day, every day, starting Monday, 9:00AM &#8211; 5:00PM</time>
      <span class="location">MTCC</span><span class="theme">Healthcare/Wellness</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-IM3" data-event-id="IM3" data-title="Practical Apprenticeship: A Model for Bridging Education and Employment" data-session-type="idea-market" data-theme="education-community" data-day="Monday" data-gender="m" data-room="MTCC" data-session-length="480" class="idea-market monday session education-community gender-m">
    <header>
      <hgroup data-event-id="IM3" data-c-actions="showSession">
        <h1 class="session-title">Practical Apprenticeship:</h1>
       <h3>A Model for Bridging Education and Employment</h3>
      </hgroup>
      
      <cite>Idea Market with <a href="/speakers/#fred-beecher" title="Fred Beecher" data-c-actions="showSpeaker" data-speaker-id="Fred-Beecher">Fred Beecher</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-28T09:00:00">All day, every day, starting Monday, 9:00AM &#8211; 5:00PM</time>
      <span class="location">MTCC</span><span class="theme">Education/Community</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-IM4" data-event-id="IM4" data-title="The digital collaboration design studio" data-session-type="idea-market" data-theme="process" data-day="Monday" data-gender="m M" data-room="MTCC" data-session-length="480" class="idea-market monday process session gender-m gender-m">
    <header>
      <hgroup data-event-id="IM4" data-c-actions="showSession">
        <h1 class="session-title">The Digital Collaboration Design Studio</h1>
      </hgroup>
      
      <cite>Idea Market with <a href="/speakers/#dave-malouf" title="Dave Malouf" data-c-actions="showSpeaker" data-speaker-id="Dave-Malouf">Dave Malouf</a> &amp; <a href="/speakers/#Brooks-Easterling" title="Brooks Easterling"  data-c-actions="showSpeaker" data-speaker-id="Brooks-Easterling">Brooks Easterling</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-28T09:00:00">All day, every day, starting Monday, 9:00AM &#8211; 5:00PM</time>
      <span class="location">MTCC</span><span class="theme">Process</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-IM5" data-event-id="IM5" data-title="Seed Diary: Connecting Family Members through Urban Gardening" data-session-type="idea-market" data-theme="education-community" data-day="Monday" data-gender="f M" data-room="MTCC" data-session-length="480" class="idea-market monday gender-f session education-community gender-m">
    <header>
      <hgroup data-event-id="IM5" data-c-actions="showSession">
        <h1 class="session-title">Seed Diary:</h1>
       <h3>Connecting Family Members through Urban Gardening</h3>
      </hgroup>
      
      <cite>Idea Market with <a href="/speakers/#li-he" title="Li He" data-c-actions="showSpeaker" data-speaker-id="Li-He">Li He</a> &amp; <a href="/speakers/#Jo-Lam" title="Jo Lam"  data-c-actions="showSpeaker" data-speaker-id="Jo-Lam">Jo Lam</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-28T09:00:00">All day, every day, starting Monday, 9:00AM &#8211; 5:00PM</time>
      <span class="location">MTCC</span><span class="theme">Education/Community</span>
      
    </div>
    <div class="description">    </div>
  </article>

</section>
