<link href="../css/mailinglist.css" rel="stylesheet" type="text/css">
<!-- Begin MailChimp Signup Form -->

<div class="session-screen screen" id="screen">
  <article id="frm_mailinglist" data-event-id="mailinglist" data-title="Display the mailing list" class="modal-window session mailing-list show">
<div id="mc_embed_signup">
<form action="http://ixda.us2.list-manage.com/subscribe/post?u=e714c585710f24c2743e2cb29&amp;id=f0e1bfe7fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
<div class="mc-field-group input-group">
    <strong>Interest </strong>
    <ul class="unstyled">
    	<li><label for="mce-group[10441]-10441-0"><input type="checkbox" value="1" name="group[10441][1]" id="mce-group[10441]-10441-0">Interaction Awards</label></li>
<li><label for="mce-group[10441]-10441-1"><input type="checkbox" value="2" name="group[10441][2]" id="mce-group[10441]-10441-1">Interaction Conference</label></li>
<li><label for="mce-group[10441]-10441-2"><input type="checkbox" value="4" name="group[10441][4]" id="mce-group[10441]-10441-2">IxDA Updates</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	<div class="clear"><input type="submit" value="Subscribe to the list" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
    <a href="#" data-c-actions="closeModal" data-selector=".screen" class="close">x</a>
  </article>
</div>
<!--End mc_embed_signup-->
