
<section class="session-list panel-list" id="panel-list" data-session-type="panel">
  <header>
    <h2>Panels</h2>
  </header>

  <article id="session-PNL1" data-event-id="PNL1" data-title="Design Led Startups" data-session-type="panel" data-theme="context" data-day="Monday" data-gender="m M M Male F" data-room="MTCC - 718" data-session-length="45" class="gender-m monday gender-f session gender-male context panel gender-m">
    <header>
      <hgroup data-event-id="PNL1" data-c-actions="showSession">
        <h1 class="session-title">Design Led Startups</h1>
      </hgroup>
      
      <cite>Panel with <a href="/speakers/#ben--fullerton" title="Ben  Fullerton" data-c-actions="showSpeaker" data-speaker-id="Ben-Fullerton">Ben  Fullerton</a>, <a href="/speakers/#Todd-Silverstein" title="Todd Silverstein"  data-c-actions="showSpeaker" data-speaker-id="Todd-Silverstein">Todd Silverstein</a>, <a href="/speakers/#Raphael-Grignani" title="Raphael Grignani"  data-c-actions="showSpeaker" data-speaker-id="Raphael-Grignani">Raphael Grignani</a>, <a href="/speakers/#Josh-Seiden" title="Josh Seiden"  data-c-actions="showSpeaker" data-speaker-id="Josh-Seiden">Josh Seiden</a> &amp; <a href="/speakers/#Suzanne-El-Moursi" title="Suzanne El-Moursi"  data-c-actions="showSpeaker" data-speaker-id="Suzanne-El-Moursi">Suzanne El-Moursi</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-28T14:30:00">Monday, 2:30PM &#8211; 3:15PM</time>
      <span class="location">MTCC - 718</span><span class="theme">Context</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PNL3" data-event-id="PNL3" data-title="Data Depth and Ingenuity" data-session-type="panel" data-theme="context" data-day="Tuesday" data-gender="m M Male Male" data-room="MTCC - 718" data-session-length="45" class="gender-m tuesday session gender-male context panel gender-m">
    <header>
      <hgroup data-event-id="PNL3" data-c-actions="showSession">
        <h1 class="session-title">Data Depth and Ingenuity</h1>
      </hgroup>
      
      <cite>Panel with <a href="/speakers/#jer-thorp" title="Jer Thorp" data-c-actions="showSpeaker" data-speaker-id="Jer-Thorp">Jer Thorp</a>, <a href="/speakers/#Todd-Silverstein" title="Todd Silverstein"  data-c-actions="showSpeaker" data-speaker-id="Todd-Silverstein">Todd Silverstein</a>, <a href="/speakers/#Andrew-Crow" title="Andrew Crow"  data-c-actions="showSpeaker" data-speaker-id="Andrew-Crow">Andrew Crow</a> &amp; <a href="/speakers/#Ben-Fullerton" title="Ben Fullerton"  data-c-actions="showSpeaker" data-speaker-id="Ben-Fullerton">Ben Fullerton</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-29T14:30:00">Tuesday, 2:30PM &#8211; 3:15PM</time>
      <span class="location">MTCC - 718</span><span class="theme">Context</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PNL2" data-event-id="PNL2" data-title="OPEN BRANDS: The Future of Brands is OPEN; The role of Interaction Design in building an open brand." data-session-type="panel" data-theme="context" data-day="Wednesday" data-gender="m M unknown F" data-room="MTCC - 718" data-session-length="45" class="gender-unknown gender-m wednesday gender-f session context panel gender-m">
    <header>
      <hgroup data-event-id="PNL2" data-c-actions="showSession">
        <h1 class="session-title">OPEN BRANDS:</h1>
       <h3>The Future of Brands is OPEN; The role of Interaction Design in building an open brand.</h3>
      </hgroup>
      
      <cite>Panel with <a href="/speakers/#matt-walsh" title="Matt Walsh" data-c-actions="showSpeaker" data-speaker-id="Matt-Walsh">Matt Walsh</a>, <a href="/speakers/#Donald-Chestnut" title="Donald Chestnut"  data-c-actions="showSpeaker" data-speaker-id="Donald-Chestnut">Donald Chestnut</a>, <a href="/speakers/#Steve-Baty" title="Steve Baty"  data-c-actions="showSpeaker" data-speaker-id="Steve-Baty">Steve Baty</a> &amp; <a href="/speakers/#Suzanne-El-Moursi" title="Suzanne El-Moursi"  data-c-actions="showSpeaker" data-speaker-id="Suzanne-El-Moursi">Suzanne El-Moursi</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-30T14:30:00">Wednesday, 2:30PM &#8211; 3:15PM</time>
      <span class="location">MTCC - 718</span><span class="theme">Context</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PNL4" data-event-id="PNL4" data-title="The Great UX Debate" data-session-type="panel" data-theme="context" data-day="Thursday" data-gender="m M F M M" data-room="MTCC - 718" data-session-length="60" class="sponsored-activity gender-m thursday session gender-f context panel gender-m">
    <header>
      <hgroup data-event-id="PNL4" data-c-actions="showSession">
        <h1 class="session-title">The Great UX Debate</h1>
       <h5 class="free sponsored sapientnitro">Sponsored by <span>SapientNitro</span></h5>
      </hgroup>
      
      <cite>Panel with <a href="/speakers/#robb-stevenson" title="Robb Stevenson" data-c-actions="showSpeaker" data-speaker-id="Robb-Stevenson">Robb Stevenson</a>, <a href="/speakers/#Lou-Lenzi" title="Lou Lenzi"  data-c-actions="showSpeaker" data-speaker-id="Lou-Lenzi">Lou Lenzi</a>, <a href="/speakers/#Angel-Anderson" title="Angel Anderson"  data-c-actions="showSpeaker" data-speaker-id="Angel-Anderson">Angel Anderson</a>, <a href="/speakers/#Donald-Chestnut" title="Donald Chestnut"  data-c-actions="showSpeaker" data-speaker-id="Donald-Chestnut">Donald Chestnut</a>, <a href="/speakers/#teresa-brazen" title="Teresa Brazen" data-c-actions="showSpeaker" data-speaker-id="Teresa-Brazen">Teresa Brazen</a> &amp; <a href="/speakers/#Mikkel-Michelsen" title="Mikkel Michelsen"  data-c-actions="showSpeaker" data-speaker-id="Mikkel-Michelsen">Mikkel Michelsen</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-31T09:45:00">Thursday, 9:45AM &#8211; 10:45AM</time>
      <span class="location">MTCC - 718</span>
      <a href="http://thegreatuxdebate.eventbrite.com" class="event-signup">Sign up!</a>
    </div>
    <div class="description"><a href="http://thegreatuxdebate.eventbrite.com" class="event-signup">Sign up!</a>    </div>
  </article>

  <article id="session-PNL5" data-event-id="PNL5" data-title="Interaction Design Education Workshop Report Back" data-session-type="panel" data-theme="education-community" data-day="Thursday" data-gender="m M F Male F" data-room="MTCC - 718" data-session-length="90" class="education-community gender-m thursday session gender-male gender-f panel gender-m">
    <header>
      <hgroup data-event-id="PNL5" data-c-actions="showSession">
        <h1 class="session-title">Interaction Design Education Workshop Report Back</h1>
      </hgroup>
      
      <cite>Panel with <a href="/speakers/#dave-malouf" title="Dave Malouf" data-c-actions="showSpeaker" data-speaker-id="Dave-Malouf">Dave Malouf</a>, <a href="/speakers/#Haig-Armen" title="Haig Armen"  data-c-actions="showSpeaker" data-speaker-id="Haig-Armen">Haig Armen</a>, <a href="/speakers/#Kendra-Shimmell" title="Kendra Shimmell"  data-c-actions="showSpeaker" data-speaker-id="Kendra-Shimmell">Kendra Shimmell</a>, <a href="/speakers/#Kristian-Simsarian" title="Kristian Simsarian"  data-c-actions="showSpeaker" data-speaker-id="Kristian-Simsarian">Kristian Simsarian</a> &amp; <a href="/speakers/#Dianna-Miller" title="Dianna Miller"  data-c-actions="showSpeaker" data-speaker-id="Dianna-Miller">Dianna Miller</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-31T11:00:00">Thursday, 11:00AM &#8211; 12:30PM</time>
      <span class="location">MTCC - 718</span><span class="theme">Education/Community</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PNL6" data-event-id="PNL6" data-title="ReDux Live: IxD13" data-session-type="panel" data-theme="context" data-day="Thursday" data-gender="m Male F" data-room="MTCC - 718" data-session-length="90" class="gender-m thursday session gender-male gender-f context panel">
    <header>
      <hgroup data-event-id="PNL6" data-c-actions="showSession">
        <h1 class="session-title">ReDux Live:</h1>
       <h3>IxD13</h3>
      </hgroup>
      
      <cite>Panel with <a href="/speakers/#cliff-kuang" title="Cliff Kuang" data-c-actions="showSpeaker" data-speaker-id="Cliff-Kuang">Cliff Kuang</a>, <a href="/speakers/#Jeroen-van-Geel" title="Jeroen van Geel"  data-c-actions="showSpeaker" data-speaker-id="Jeroen-van-Geel">Jeroen van Geel</a> &amp; <a href="/speakers/#Lin-Yee-Yuan" title="Lin Yee Yuan"  data-c-actions="showSpeaker" data-speaker-id="Lin-Yee-Yuan">Lin Yee Yuan</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-31T14:30:00">Thursday, 2:30PM &#8211; 4:00PM</time>
      <span class="location">MTCC - 718</span><span class="theme">Context</span>
      
    </div>
    <div class="description">    </div>
  </article>

</section>
