
  <article id="PechaKuchas" data-event-id="PK_ALL" data-session-type="PechaKucha" data-session-length="480" class="session-list multi-session-PechaKucha PechaKucha-list">
    <header>
      <hgroup data-event-id="PK_ALL">
        <h1 class="session-title">Interaction13 PechaKuchas</h1>
      </hgroup>
      <div class="details">
        <time datetime="2013-01-27T18:00:00">Sunday, 6:00PM &#8211; 9:00PM</time>
        <span class="location">OCAD- 190</span>
      </div>
    </header>
    
    <div class="description">    </div>
    <ul>

  <li>
    <h2 class="session-title" data-event-id="PK1" data-c-actions="showSession">My Dear Watson: Personality for Smart Applications</h2>
    <cite>PechaKucha with <a href="/speakers/#nicki-vance" title="Nicki Vance" data-c-actions="showSpeaker" data-speaker-id="Nicki-Vance">Nicki Vance</a></cite>
    <span class="theme"><span class="theme">Process</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK10" data-c-actions="showSession">What Makes a Design Modern?</h2>
    <cite>PechaKucha with <a href="/speakers/#david-rondeau" title="David Rondeau" data-c-actions="showSpeaker" data-speaker-id="David-Rondeau">David Rondeau</a></cite>
    <span class="theme"><span class="theme">Context</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK11" data-c-actions="showSession">10 Things You NEVER Do in a Client Meeting</h2>
    <cite>PechaKucha with <a href="/speakers/#dan-willis" title="Dan Willis" data-c-actions="showSpeaker" data-speaker-id="Dan-Willis">Dan Willis</a></cite>
    <span class="theme"><span class="theme">Strategy</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK13" data-c-actions="showSession">From Coarse to Fine: Insights from Landscape Design</h2>
    <cite>PechaKucha with <a href="/speakers/#maria-cordell" title="Maria Cordell" data-c-actions="showSpeaker" data-speaker-id="Maria-Cordell">Maria Cordell</a></cite>
    <span class="theme"><span class="theme">Process</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK14" data-c-actions="showSession">Ceci n'est pas une bacon printer</h2>
    <cite>PechaKucha with <a href="/speakers/#andrea-dulko" title="Andrea Dulko" data-c-actions="showSpeaker" data-speaker-id="Andrea-Dulko">Andrea Dulko</a></cite>
    <span class="theme"><span class="theme">Process</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK2" data-c-actions="showSession">Sketch to Win</h2>
    <cite>PechaKucha with <a href="/speakers/#david-panarelli" title="David Panarelli" data-c-actions="showSpeaker" data-speaker-id="David-Panarelli">David Panarelli</a></cite>
    <span class="theme"><span class="theme">Process</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK3" data-c-actions="showSession">Is That A Flaming Sword Coming Out Of Your Chest, Or Is Toronto Just Happy To See You: Scott Pilgrim &amp; Experience Design</h2>
    <cite>PechaKucha with <a href="/speakers/#jason-alderman" title="Jason Alderman" data-c-actions="showSpeaker" data-speaker-id="Jason-Alderman">Jason Alderman</a></cite>
    <span class="theme"><span class="theme">Context</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK5" data-c-actions="showSession">Culture of a Tribe: Why the editors of Wikipedia do what they do.</h2>
    <cite>PechaKucha with <a href="/speakers/#vibha-bamba" title="Vibha Bamba" data-c-actions="showSpeaker" data-speaker-id="Vibha-Bamba">Vibha Bamba</a></cite>
    <span class="theme"><span class="theme">Education/Community</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK6" data-c-actions="showSession">Make Me Say, &ldquo;Wow!&rdquo;</h2>
    <cite>PechaKucha with <a href="/speakers/#peter-stahl" title="Peter Stahl" data-c-actions="showSpeaker" data-speaker-id="Peter-Stahl">Peter Stahl</a></cite>
    <span class="theme"><span class="theme">Strategy</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK7" data-c-actions="showSession">Using Personas To Provide Objectivity, Not Empathy</h2>
    <cite>PechaKucha with <a href="/speakers/#wendy-stengel" title="Wendy Stengel" data-c-actions="showSpeaker" data-speaker-id="Wendy-Stengel">Wendy Stengel</a></cite>
    <span class="theme"><span class="theme">Process</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK8" data-c-actions="showSession">Designing Science: Human Centered Design Meets Science Communication</h2>
    <cite>PechaKucha with <a href="/speakers/#jennifer-briselli" title="Jennifer Briselli" data-c-actions="showSpeaker" data-speaker-id="Jennifer-Briselli">Jennifer Briselli</a></cite>
    <span class="theme"><span class="theme">Education/Community</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="PK9" data-c-actions="showSession">Side View Mirror Project</h2>
    <cite>PechaKucha with <a href="/speakers/#erik-dahl" title="Erik Dahl" data-c-actions="showSpeaker" data-speaker-id="Erik-Dahl">Erik Dahl</a></cite>
    <span class="theme"><span class="theme">Context</span></span>
  </li>
</ul>
  </article>

  <article id="Idea Markets" data-event-id="IM_ALL" data-session-type="Idea Market" data-session-length="480" class="session-list multi-session-Idea Market Idea Market-list">
    <header>
      <hgroup data-event-id="IM_ALL">
        <h1 class="session-title">Interaction13 Idea Markets</h1>
      </hgroup>
      <div class="details">
        <time datetime="2013-01-28T09:00:00">All day, every day, starting Monday, 9:00AM &#8211; 5:00PM</time>
        <span class="location">MTCC</span>
      </div>
    </header>
    
    <div class="description">    </div>
    <ul>

  <li>
    <h2 class="session-title" data-event-id="IM1" data-c-actions="showSession">Freedom and Constraints: Setting up an IxD School in Costa Rica</h2>
    <cite>Idea Market with <a href="/speakers/#ana-domb" title="Ana Domb" data-c-actions="showSpeaker" data-speaker-id="Ana-Domb">Ana Domb</a></cite>
    <span class="theme"><span class="theme">Education/Community</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="IM2" data-c-actions="showSession">Counting is for More than Calories</h2>
    <cite>Idea Market with <a href="/speakers/#tonia-bartz" title="Tonia Bartz" data-c-actions="showSpeaker" data-speaker-id="Tonia-Bartz">Tonia Bartz</a></cite>
    <span class="theme"><span class="theme">Healthcare/Wellness</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="IM3" data-c-actions="showSession">Practical Apprenticeship: A Model for Bridging Education and Employment</h2>
    <cite>Idea Market with <a href="/speakers/#fred-beecher" title="Fred Beecher" data-c-actions="showSpeaker" data-speaker-id="Fred-Beecher">Fred Beecher</a></cite>
    <span class="theme"><span class="theme">Education/Community</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="IM4" data-c-actions="showSession">The digital collaboration design studio</h2>
    <cite>Idea Market with <a href="/speakers/#dave-malouf" title="Dave Malouf" data-c-actions="showSpeaker" data-speaker-id="Dave-Malouf">Dave Malouf</a> &amp; <a href="/speakers/#Brooks-Easterling" title="Brooks Easterling"  data-c-actions="showSpeaker" data-speaker-id="Brooks-Easterling">Brooks Easterling</a></cite>
    <span class="theme"><span class="theme">Process</span></span>
  </li>
  <li>
    <h2 class="session-title" data-event-id="IM5" data-c-actions="showSession">Seed Diary: Connecting Family Members through Urban Gardening</h2>
    <cite>Idea Market with <a href="/speakers/#li-he" title="Li He" data-c-actions="showSpeaker" data-speaker-id="Li-He">Li He</a> &amp; <a href="/speakers/#Jo-Lam" title="Jo Lam"  data-c-actions="showSpeaker" data-speaker-id="Jo-Lam">Jo Lam</a></cite>
    <span class="theme"><span class="theme">Education/Community</span></span>
  </li>
</ul>
  </article>
