
<section class="session-list pechakucha-list" id="pechakucha-list" data-session-type="pechakucha">
  <header>
    <h2>Pechakuchas</h2>
  </header>

  <article id="session-PK1" data-event-id="PK1" data-title="My Dear Watson: Personality for Smart Applications" data-session-type="pechakucha" data-theme="process" data-day="Sunday" data-gender="f" data-room="OCAD - 187" data-session-length="10" class="process pechakucha gender-f sunday session">
    <header>
      <hgroup data-event-id="PK1" data-c-actions="showSession">
        <h1 class="session-title">My Dear Watson:</h1>
       <h3>Personality for Smart Applications</h3>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#nicki-vance" title="Nicki Vance" data-c-actions="showSpeaker" data-speaker-id="Nicki-Vance">Nicki Vance</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T18:00:00">Sunday, 6:00PM &#8211; 6:10PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Process</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK10" data-event-id="PK10" data-title="What Makes a Design Modern?" data-session-type="pechakucha" data-theme="context" data-day="Sunday" data-gender="m" data-room="OCAD - 187" data-session-length="10" class="gender-m pechakucha sunday session context">
    <header>
      <hgroup data-event-id="PK10" data-c-actions="showSession">
        <h1 class="session-title">What Makes a Design Modern?</h1>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#david-rondeau" title="David Rondeau" data-c-actions="showSpeaker" data-speaker-id="David-Rondeau">David Rondeau</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T18:10:00">Sunday, 6:10PM &#8211; 6:20PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Context</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK11" data-event-id="PK11" data-title="10 Things You NEVER Do in a Client Meeting" data-session-type="pechakucha" data-theme="strategy" data-day="Sunday" data-gender="m" data-room="OCAD - 187" data-session-length="10" class="gender-m pechakucha strategy sunday session">
    <header>
      <hgroup data-event-id="PK11" data-c-actions="showSession">
        <h1 class="session-title">10 Things You NEVER Do in a Client Meeting</h1>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#dan-willis" title="Dan Willis" data-c-actions="showSpeaker" data-speaker-id="Dan-Willis">Dan Willis</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T18:20:00">Sunday, 6:20PM &#8211; 6:30PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Strategy</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK13" data-event-id="PK13" data-title="From Coarse to Fine: Insights from Landscape Design" data-session-type="pechakucha" data-theme="process" data-day="Sunday" data-gender="f" data-room="OCAD - 187" data-session-length="10" class="process pechakucha gender-f sunday session">
    <header>
      <hgroup data-event-id="PK13" data-c-actions="showSession">
        <h1 class="session-title">From Coarse to Fine:</h1>
       <h3>Insights from Landscape Design</h3>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#maria-cordell" title="Maria Cordell" data-c-actions="showSpeaker" data-speaker-id="Maria-Cordell">Maria Cordell</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T18:30:00">Sunday, 6:30PM &#8211; 6:40PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Process</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK14" data-event-id="PK14" data-title="Ceci n'est pas une bacon printer" data-session-type="pechakucha" data-theme="process" data-day="Sunday" data-gender="f" data-room="OCAD - 187" data-session-length="10" class="process pechakucha gender-f sunday session">
    <header>
      <hgroup data-event-id="PK14" data-c-actions="showSession">
        <h1 class="session-title">Ceci N'est Pas Une Bacon Printer</h1>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#andrea-dulko" title="Andrea Dulko" data-c-actions="showSpeaker" data-speaker-id="Andrea-Dulko">Andrea Dulko</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T18:40:00">Sunday, 6:40PM &#8211; 6:50PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Process</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK2" data-event-id="PK2" data-title="Sketch to Win" data-session-type="pechakucha" data-theme="process" data-day="Sunday" data-gender="m" data-room="OCAD - 187" data-session-length="10" class="gender-m process pechakucha sunday session">
    <header>
      <hgroup data-event-id="PK2" data-c-actions="showSession">
        <h1 class="session-title">Sketch to Win</h1>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#david-panarelli" title="David Panarelli" data-c-actions="showSpeaker" data-speaker-id="David-Panarelli">David Panarelli</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T18:50:00">Sunday, 6:50PM &#8211; 7:00PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Process</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK3" data-event-id="PK3" data-title="Is That A Flaming Sword Coming Out Of Your Chest, Or Is Toronto Just Happy To See You: Scott Pilgrim &amp; Experience Design" data-session-type="pechakucha" data-theme="context" data-day="Sunday" data-gender="m" data-room="OCAD - 187" data-session-length="10" class="gender-m pechakucha sunday session context">
    <header>
      <hgroup data-event-id="PK3" data-c-actions="showSession">
        <h1 class="session-title">Is That A Flaming Sword Coming Out Of Your Chest, Or Is Toronto Just Happy To See You:</h1>
       <h3>Scott Pilgrim &amp; Experience Design</h3>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#jason-alderman" title="Jason Alderman" data-c-actions="showSpeaker" data-speaker-id="Jason-Alderman">Jason Alderman</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T19:00:00">Sunday, 7:00PM &#8211; 7:10PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Context</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK5" data-event-id="PK5" data-title="Culture of a Tribe: Why the editors of Wikipedia do what they do." data-session-type="pechakucha" data-theme="education-community" data-day="Sunday" data-gender="u" data-room="OCAD - 187" data-session-length="10" class="pechakucha sunday session education-community gender-u">
    <header>
      <hgroup data-event-id="PK5" data-c-actions="showSession">
        <h1 class="session-title">Culture of a Tribe:</h1>
       <h3>Why the editors of Wikipedia do what they do.</h3>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#vibha-bamba" title="Vibha Bamba" data-c-actions="showSpeaker" data-speaker-id="Vibha-Bamba">Vibha Bamba</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T19:10:00">Sunday, 7:10PM &#8211; 7:20PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Education/Community</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK6" data-event-id="PK6" data-title="Make Me Say, &ldquo;Wow!&rdquo;" data-session-type="pechakucha" data-theme="strategy" data-day="Sunday" data-gender="m" data-room="OCAD - 187" data-session-length="10" class="gender-m pechakucha strategy sunday session">
    <header>
      <hgroup data-event-id="PK6" data-c-actions="showSession">
        <h1 class="session-title">Make Me Say, “Wow!”</h1>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#peter-stahl" title="Peter Stahl" data-c-actions="showSpeaker" data-speaker-id="Peter-Stahl">Peter Stahl</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T19:20:00">Sunday, 7:20PM &#8211; 7:30PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Strategy</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK7" data-event-id="PK7" data-title="Using Personas To Provide Objectivity, Not Empathy" data-session-type="pechakucha" data-theme="process" data-day="Sunday" data-gender="f" data-room="OCAD - 187" data-session-length="10" class="process pechakucha gender-f sunday session">
    <header>
      <hgroup data-event-id="PK7" data-c-actions="showSession">
        <h1 class="session-title">Using Personas To Provide Objectivity, Not Empathy</h1>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#wendy-stengel" title="Wendy Stengel" data-c-actions="showSpeaker" data-speaker-id="Wendy-Stengel">Wendy Stengel</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T19:30:00">Sunday, 7:30PM &#8211; 7:40PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Process</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK8" data-event-id="PK8" data-title="Designing Science: Human Centered Design Meets Science Communication" data-session-type="pechakucha" data-theme="education-community" data-day="Sunday" data-gender="f" data-room="OCAD - 187" data-session-length="10" class="pechakucha gender-f sunday session education-community">
    <header>
      <hgroup data-event-id="PK8" data-c-actions="showSession">
        <h1 class="session-title">Designing Science:</h1>
       <h3>Human Centered Design Meets Science Communication</h3>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#jennifer-briselli" title="Jennifer Briselli" data-c-actions="showSpeaker" data-speaker-id="Jennifer-Briselli">Jennifer Briselli</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T19:40:00">Sunday, 7:40PM &#8211; 7:50PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Education/Community</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-PK9" data-event-id="PK9" data-title="Side View Mirror Project" data-session-type="pechakucha" data-theme="context" data-day="Sunday" data-gender="m" data-room="OCAD - 187" data-session-length="10" class="gender-m pechakucha sunday session context">
    <header>
      <hgroup data-event-id="PK9" data-c-actions="showSession">
        <h1 class="session-title">Side View Mirror Project</h1>
      </hgroup>
      
      <cite>PechaKucha with <a href="/speakers/#erik-dahl" title="Erik Dahl" data-c-actions="showSpeaker" data-speaker-id="Erik-Dahl">Erik Dahl</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-27T19:50:00">Sunday, 7:50PM &#8211; 8:00PM</time>
      <span class="location">OCAD - 187</span><span class="theme">Context</span>
      
    </div>
    <div class="description">    </div>
  </article>

</section>
