
<section class="session-list poster-list" id="poster-list" data-session-type="poster">
  <header>
    <h2>Posters</h2>
  </header>

  <article id="session-POS1" data-event-id="POS1" data-title="Wandering Mind--A Tool to Support Self-Reflection" data-session-type="poster" data-theme="healthcare-wellness" data-day="Monday" data-gender="f F" data-room="MTCC" data-session-length="480" class="monday healthcare-wellness poster gender-f session gender-f">
    <header>
      <hgroup data-event-id="POS1" data-c-actions="showSession">
        <h1 class="session-title">Wandering Mind--A Tool to Support Self-Reflection</h1>
      </hgroup>
      
      <cite>Poster with <a href="/speakers/#afarin-pirzadeh" title="Afarin Pirzadeh" data-c-actions="showSpeaker" data-speaker-id="Afarin-Pirzadeh">Afarin Pirzadeh</a> &amp; <a href="/speakers/#Li-He" title="Li He"  data-c-actions="showSpeaker" data-speaker-id="Li-He">Li He</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-28T09:00:00">All day, every day, starting Monday, 9:00AM &#8211; 5:00PM</time>
      <span class="location">MTCC</span><span class="theme">Healthcare/Wellness</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-POS2" data-event-id="POS2" data-title="Hacking the climate" data-session-type="poster" data-theme="education-community" data-day="Monday" data-gender="m" data-room="MTCC" data-session-length="480" class="gender-m monday poster session education-community">
    <header>
      <hgroup data-event-id="POS2" data-c-actions="showSession">
        <h1 class="session-title">Hacking the Climate</h1>
      </hgroup>
      
      <cite>Poster with <a href="/speakers/#james-christie" title="James Christie" data-c-actions="showSpeaker" data-speaker-id="James-Christie">James Christie</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-28T09:00:00">All day, every day, starting Monday, 9:00AM &#8211; 5:00PM</time>
      <span class="location">MTCC</span><span class="theme">Education/Community</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-POS3" data-event-id="POS3" data-title="Kneading time, exploring bodily dimensions of temporality" data-session-type="poster" data-theme="process" data-day="Monday" data-gender="f" data-room="MTCC" data-session-length="480" class="monday process poster gender-f session">
    <header>
      <hgroup data-event-id="POS3" data-c-actions="showSession">
        <h1 class="session-title">Kneading Time, Exploring Bodily Dimensions of Temporality</h1>
      </hgroup>
      
      <cite>Poster with <a href="/speakers/#elsa-kosmack-vaara" title="Elsa Kosmack Vaara" data-c-actions="showSpeaker" data-speaker-id="Elsa-Kosmack-Vaara">Elsa Kosmack Vaara</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-28T09:00:00">All day, every day, starting Monday, 9:00AM &#8211; 5:00PM</time>
      <span class="location">MTCC</span><span class="theme">Process</span>
      
    </div>
    <div class="description">    </div>
  </article>

</section>
