<div class="controls">
  <form action="#" method="get">
    <!-- <select id="theme-type" class="filter">
      <option value="session" selected="selected">Session Topic</option>
      <option value="session">All Session Topics</option>
      <option value="agile-lean">Agile/Lean</option>
      <option value="business">Business</option>
      <option value="concept-design">Concept Design</option>
      <option value="context">Context</option>
      <option value="education-community">Education/Community</option>
      <option value="gaming">Gaming</option>
      <option value="healthcare-wellness">Healthcare/Wellness</option>
      <option value="ixda">IxDA</option>
      <option value="method">Method</option>
      <option value="mobile">Mobile</option>
      <option value="other">Other</option>
      <option value="process">Process</option>
      <option value="robotics">Robotics</option>
      <option value="service-design">Service Design</option>
      <option value="strategy">Strategy</option>
    </select>
    <select id="session-type" class="filter">
      <option value="session" selected="selected">Session Type</option>
      <option value="session">All Session Types</option>
      <option value="idea-market">Idea Markets</option>
      <option value="pechakucha">PechaKuchas</option>
      <option value="45min">45-min Presentations</option>
      <option value="10min">10-min Presentations</option>
      <option value="presentation">All Presentations</option>
      <option value="workshop">Workshops</option>
    </select> -->
    <select id="session-day" class="filter">
      <option value="session" selected="selected">Select Day</option>
      <option value="session">All Days</option>
      <option value="sunday">Sunday</option>
      <option value="monday">Monday</option>
      <option value="tuesday">Tuesday</option>
      <option value="wednesday">Wednesday</option>
      <option value="thursday">Thursday</option>
    </select>

  </form>
</div>
