
<section class="session-list showcase-list" id="showcase-list" data-session-type="showcase">
  <header>
    <h2>Showcases</h2>
  </header>

  <article id="session-OCADS01" data-event-id="OCADS01" data-title="OCAD U Showcase: ONEMILE &#8211; a shared experience" data-session-type="showcase" data-theme="education-community" data-day="Monday" data-gender="b unknown unknown" data-room="MTCC - 718" data-session-length="15" class="gender-unknown monday showcase gender-b session education-community">
    <header>
      <hgroup data-event-id="OCADS01" data-c-actions="showSession">
        <h1 class="session-title">OCAD U Showcase:</h1>
       <h3>ONEMILE – a shared experience</h3>
      </hgroup>
      
      <cite>Showcase with <a href="/speakers/#hudson--pridham" title="Hudson  Pridham" data-c-actions="showSpeaker" data-speaker-id="Hudson-Pridham">Hudson  Pridham</a>, <a href="/speakers/#Maziar-Ghaderi" title="Maziar Ghaderi"  data-c-actions="showSpeaker" data-speaker-id="Maziar-Ghaderi">Maziar Ghaderi</a> &amp; <a href="/speakers/#Yuxi-Wang" title="Yuxi Wang"  data-c-actions="showSpeaker" data-speaker-id="Yuxi-Wang">Yuxi Wang</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-28T09:30:00">Monday, 9:30AM &#8211; 9:45AM</time>
      <span class="location">MTCC - 718</span><span class="theme">Education/Community</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-OCADS02" data-event-id="OCADS02" data-title="OCAD U Showcase: Inclusive Health" data-session-type="showcase" data-theme="healthcare-wellness" data-day="Tuesday" data-gender="f Female Male" data-room="MTCC - 718" data-session-length="15" class="sponsored-activity showcase healthcare-wellness tuesday gender-f session gender-male gender-female">
    <header>
      <hgroup data-event-id="OCADS02" data-c-actions="showSession">
        <h1 class="session-title">OCAD U Showcase:</h1>
       <h3>Inclusive Health</h3>
       <h5 class="free sponsored ocad-u">Sponsored by <span>OCAD U</span></h5>
      </hgroup>
      
      <cite>Showcase with <a href="/speakers/#angela-dosis" title="Angela Dosis" data-c-actions="showSpeaker" data-speaker-id="Angela-Dosis">Angela Dosis</a>, <a href="/speakers/#Sara-Durning" title="Sara Durning"  data-c-actions="showSpeaker" data-speaker-id="Sara-Durning">Sara Durning</a> &amp; <a href="/speakers/#Brandon-Laird" title="Brandon Laird"  data-c-actions="showSpeaker" data-speaker-id="Brandon-Laird">Brandon Laird</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-29T09:30:00">Tuesday, 9:30AM &#8211; 9:45AM</time>
      <span class="location">MTCC - 718</span><span class="theme">Healthcare/Wellness</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-OCADS03" data-event-id="OCADS03" data-title="OCAD U Showcase: Ecological Capital" data-session-type="showcase" data-theme="education-community" data-day="Wednesday" data-gender="b unknown unknown" data-room="MTCC - 718" data-session-length="15" class="gender-unknown showcase gender-b wednesday session education-community">
    <header>
      <hgroup data-event-id="OCADS03" data-c-actions="showSession">
        <h1 class="session-title">OCAD U Showcase:</h1>
       <h3>Ecological Capital</h3>
      </hgroup>
      
      <cite>Showcase with <a href="/speakers/#alex-gebhardt" title="Alex Gebhardt" data-c-actions="showSpeaker" data-speaker-id="Alex-Gebhardt">Alex Gebhardt</a>, <a href="/speakers/#Anton-Mwewa" title="Anton Mwewa"  data-c-actions="showSpeaker" data-speaker-id="Anton-Mwewa">Anton Mwewa</a> &amp; <a href="/speakers/#Bianca-Channer" title="Bianca Channer"  data-c-actions="showSpeaker" data-speaker-id="Bianca-Channer">Bianca Channer</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-30T09:30:00">Wednesday, 9:30AM &#8211; 9:45AM</time>
      <span class="location">MTCC - 718</span><span class="theme">Education/Community</span>
      
    </div>
    <div class="description">    </div>
  </article>

  <article id="session-OCADS04" data-event-id="OCADS04" data-title="OCAD U Showcase: Inclusive Education" data-session-type="showcase" data-theme="education-community" data-day="Thursday" data-gender="m F F" data-room="MTCC - 718" data-session-length="15" class="gender-m showcase thursday session gender-f education-community">
    <header>
      <hgroup data-event-id="OCADS04" data-c-actions="showSession">
        <h1 class="session-title">OCAD U Showcase:</h1>
       <h3>Inclusive Education</h3>
      </hgroup>
      
      <cite>Showcase with <a href="/speakers/#michael-furdyk" title="Michael Furdyk" data-c-actions="showSpeaker" data-speaker-id="Michael-Furdyk">Michael Furdyk</a>, <a href="/speakers/#Pina-D'Intino" title="Pina D'Intino"  data-c-actions="showSpeaker" data-speaker-id="Pina-D'Intino">Pina D'Intino</a> &amp; <a href="/speakers/#Sandra-Earl" title="Sandra Earl"  data-c-actions="showSpeaker" data-speaker-id="Sandra-Earl">Sandra Earl</a></cite>
    </header>
    <div class="details">
      <time datetime="2013-01-31T09:30:00">Thursday, 9:30AM &#8211; 9:45AM</time>
      <span class="location">MTCC - 718</span><span class="theme">Education/Community</span>
      
    </div>
    <div class="description">    </div>
  </article>

</section>
